<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="acs">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Gaming</title>
    <!--  Bootstrap core CSS-->
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Css-->
    <script src="https://kit.fontawesome.com/ad12ac6895.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/owl.css">
  </head>
  <body>
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row"> 
          <div class="col-12">
            <nav class="main-nav">   <a class="logo" href="home.html"><img src="../../assets/images/logo.png" alt="logo"></a>
              <ul class="nav">
                <li class="has-sub"><a href="aboutus.html">Who we are</a>
                  <ul class="sub-menu">
                    <li><a href="ipb.html">IPB</a></li>
                    <li><a href="schools.html">Schools</a></li>
                    <li><a href="services.html">Central Services</a></li>
                    <li><a href="quality.html">Quality</a></li>
                    <li><a href="data.html">Data Protection</a></li>
                  </ul>
                </li>
                <li class="has-sub"><a href="study.html">Study at IPB</a>
                  <ul class="sub-menu">
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="candidates.html">Candidates</a></li>
                    <li><a href="visit.html">Visit IPB</a></li>
                    <li><a href="current.html">Current Students</a></li>
                    <li><a href="mobility.html">International Mobility</a></li>
                    <li><a href="former.html">Former Students</a></li>
                  </ul>
                </li>
                <li class="scroll-to-section"><a class="i fas fa-search">   </a></li>
              </ul><a class="menu-trigger"><span>Menu</span></a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="contact-us" id="contact-section">
      <div class="container"> 
        <div class="row"> 
          <div class="col-lg-4"><img src="../../assets/images/logo.png" alt="Logo" style="max-width: 300px">
            <ul class="social-icons">  
              <li> <a href=""><i class="fa fa-facebook"></i></a></li>
              <li> <a href=""><i class="fa fa-instagram"></i></a></li>
              <li> <a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h4>Adress</h4>
            <p>Campus de Santa Apolónia </p>
            <p>5300-253 BRAGANÇA</p>
          </div>
          <div class="col-sm-2">
            <h4>Contacts</h4>
            <p>Email:geral@ipb.pt</p>
            <p>Phone: 273 303 200</p>
            <p>Fax: 273 325 405</p>
          </div>
          <div class="col-sm-2">
            <ul>
              <li><a href="">Who we are</a></li>
              <li><a href="">Study at IPB</a></li>
              <li><a href="">Community</a></li>
              <li><a href="">Investigation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/isotope.min.js"></script>
    <script src="../../assets/js/owl-carousel.js"></script>
  </body>
</html>