block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Who we are
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .row.bgtext
      img.col-6
      .col-6.sidetext
        h4 Who we are
        h6 O IPB desenvolve a sua missão em articulação com a sociedade, incluindo a cooperação transfronteiriça, numa perspectiva de coesão territorial e de afirmação nacional e internacional, com vista ao desenvolvimento da Região, assente na inovação e na produção e transferência do conhecimento técnico-científico.
    .row
      a(href="ipb.html").aboutus.col-6 
        i.fas.fa-university 
          h4 IPB
      a(href="schools.html").aboutus.col-6 
        i.fas.fa-school
          h4 Schools
    .row
      a(href="quality.html").aboutus.col-6 
        i.fas.fa-check-square
          h4 Quality
      a(href="data.html").aboutus.col-6 
        i.fas.fa-check-double
          h4 Data Protection 
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")