block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Candidates
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-users
            h4 Candidates
    .bgtext.nobg
      p. 
        The Polytechnic Institute of Bragança (IPB) offers a wide range of Higher Education training options in the various areas of knowledge and technology, all of which are adapted to the Bologna Process and in accordance with the European credit system (ECTS).
        The Candidate Portal is the main means of communication with candidates for admission to the IPB, for technological specialization courses (CETs) and undergraduate and masters study cycles.
    .row
      a(href="#").linkzam Portal dos Candidatos
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")