block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Courses
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-graduation-cap 
            h4 Courses
    .bgtext.nobg
      p. 
        The training offer of the Polytechnic Institute of Bragança currently comprises more than a hundred courses and study cycles, including technological specialization courses (CETs), undergraduate, postgraduate, postgraduate and master's study cycles.
        Information on each IPB course or study cycle can be consulted in the ECTS Guide (or Informative Guide), along with additional information about the Institution and its Schools and general information for students.
    .row
      a(href="#").linkzam Consulte aqui os cursos disponíveis
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")