block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Current Students
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-user-graduate
            h4 Current Students
    .bgtext.nobg
      p. 
        The Polytechnic Institute of Bragança (IPB) assumes that it is essential to guarantee a quality training path for all its students. In this sense, the IPB has been committed to:
        Develop online services to facilitate communication and relationships with students;
        Create a virtual community to promote qualified employment;
        Improve social action services and promote their scope;
        Modernize academic services, for an immediate response to student requests;
        Consolidate the Institution's image and increase the efficiency of promoting this image;
        Foster an entrepreneurial spirit and support ideas developed within the academic community;
        Respond positively to students' demands, articulating solutions with IPB associations and Schools;
        To support associativism among the Institution's students.
    .botoes2
      .row
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 Horários
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 IPB Community
      .row
        a(href="#").icon.col-12 
            i.fas.fa-university 
              h4 Serviços de Ação Social
      .row
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 Serviços Académicos
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 Empreendorismo
      .row
        a(href="#").icon.col-12 
            i.fas.fa-university 
              h4 Provedor de Estudante
      .row
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 Imagem e Apoio ao Estudante
        a(href="#").icon.col-6 
            i.fas.fa-university 
              h4 Associação
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")