block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Data Protection
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-check-double
            h4 Data Protection
    .bgtext.nobg
      p. 
        Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 (GDPR) on the protection of natural persons with regard to the processing of personal data and the free movement of such data has entered into force. in May 2016, with a two-year transition period foreseen, which ended on May 25, 2018.
        In order to comply with the obligations arising from the RGPD, the Polytechnic Institute of Bragança approves policies and procedures aimed at achieving compliance with such requirements, within the scope of its personal data protection strategy.
    .nobg.titulos
      p. 
        Policies
    .botoes2
      .row
        a(href="#").icon.col-6
          i.fas.fa-university 
            h4 Privacy
        a(href="#").icon.col-6
          i.fas.fa-university 
            h4 Data Protection
      .row
        a(href="#").icon.col-6
          i.fas.fa-university 
            h4 Use of Technological Infrastructures
        a(href="#").icon.col-6
          i.fas.fa-university 
            h4 Passwords
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")