block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Former Students
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-user-graduate
            h4 Former Students
    .bgtext.nobg
      p. 
        The success of the graduates of the Polytechnic Institute of Bragança (IPB) is also the success of the Institute.
        The IPB has been creating the necessary conditions to properly monitor the professional path of its graduates, with the aim of better adjusting its training offer to the reality of the labor market. It is also the objective of the IPB to promote the full employability of its graduates, bringing employers and the academic community closer to the Institute.
        This space aims to reinforce communication between the IPB and its former students, providing updated information and access to the IPB Community platform, which implements the IPB job market. We also invite former students to return to IPB, to complement their academic training and enhance their curriculum, by taking courses or individual curricular units; the Candidate Portal is the starting point for those considering the possibility of returning to academic life.
    .botoes2
      .row
        a(href="#").icon.col-4 
            i.fas.fa-atlas
              h4 Rede Alumni.IPB
        a(href="#").icon.col-4
            i.fas.fa-users
              h4 Comunidade IPB
        a(href="#").icon.col-4
            i.fas.fa-globe
              h4 Portal Candidato
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")