block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 IPB
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12
          img(src="../../assets/images/Quem somos/Ipb.png", alt="imagem", style="max-width: 200px")
          h4 IPB
    .nobg.titulos
      p. 
        Organic of the IPB
    .botoes2
      .row
        a(href="presidency.html").icon.col-12.schoollink
          img(src="../../assets/images/Quem somos/IPB/president.png", alt="imagem", style="max-width: 200px")
          h4 Presidency
      .row
        a(href="#").icon.col-6
            img(src="../../assets/images/Quem somos/IPB/general advice.png", alt="imagem", style="max-width: 200px")
            h4 General advice
        a(href="#").icon.col-6
            img(src="../../assets/images/Quem somos/IPB/management board.png", alt="imagem", style="max-width: 200px")
            h4 Management board
    .nobg.titulos
      p. 
        Others
    .botoes2
      .row
        a(href="#").icon.col-6 
            img(src="../../assets/images/Quem somos/IPB/tecnhcic scietnifc council.png", alt="imagem", style="max-width: 200px") 
            h4 Technical-Scientific Council
        a(href="#").icon.col-6
            img(src="../../assets/images/Quem somos/IPB/permanent council.png", alt="imagem", style="max-width: 200px")
            h4 Permanent Council
      .row
        a(href="#").icon.col-6 
            img(src="../../assets/images/Quem somos/IPB/ethics.png", alt="imagem", style="max-width: 200px")
            h4 Ethics Committee
        a(href="#").icon.col-6
            img(src="../../assets/images/Quem somos/IPB/cgid.png", alt="imagem", style="max-width: 200px")
            h4 CIGID
      .row
        a(href="#").icon.col-6 
            img(src="../../assets/images/Quem somos/IPB/protocols.png", alt="imagem", style="max-width: 200px")
            h4 Protocols
        a(href="#").icon.col-6
            img(src="../../assets/images/Quem somos/IPB/symbols and coat.png", alt="imagem", style="max-width: 200px") 
            h4 Symbols and Coat of Arms
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")