block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Quality
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-check-square
            h4 Quality
    .nobg.titulos
      p. 
        Quality Policy
    .longtext.nobg
      p. 
        A política da qualidade do IPB tem como base a partilha da missão, visão e valores, tais como definidos nos Estatutos, e o compromisso com as linhas orientadoras definidas no plano estratégico, objetivando a garantia da qualidade e melhoria contínua de todas as atividades desenvolvidas bem como a promoção de boas práticas.
      p - Garantir a qualidade do ensino/aprendizagem, da investigação, da internacionalização, da interação com a sociedade e da defesa da identidade, de acordo com os preceitos legais, as normas internas e os padrões de exigência externa, nacionais e internacionais, aplicáveis;
      p - Definir processos e procedimentos que permitam a monitorização e avaliação sistemática e rotinada das atividades desenvolvidas e que apontem o grau de responsabilização dos intervenientes;
      p - Criação de uma estrutura responsável pela garantia e gestão da qualidade, de nível institucional para garantir a coesão, coerência, harmonia e comparabilidade;
      p - Assegurar formas de envolvimento e participação ativa de toda a comunidade académica e demais partes interessadas em processos de análise, reflexão e debate do desempenho alcançado;
      p - Auscultar necessidades e expetativas de todas as partes interessadas e recolher contributos conducentes à melhoria e/ou garantia da qualidade;
      p - Organizar um sistema de garantia e gestão da qualidade interno, que siga uma abordagem integrada e holística, aplicando os referenciais para a garantia da qualidade nacionais e europeus, e que seja, igualmente, representativo da cultura institucional de transparência e prestação de contas;
      p - Implementar um sistema de garantia e gestão da qualidade adequado, simples, desburocratizado e eficaz;
      p - Promover um modelo de organização, funcionamento, gestão e governo da instituição centrado na eficiência, na qualidade, na transparência e na responsabilidade;
      p - Garantir a divulgação, junto da comunidade IPB, de informação sobre a implementação, acompanhamento e revisão da política institucional para a qualidade e da sua aplicação prática.
    .nobg.titulos
      p. 
        Quality Manual
    .bgtext.nobg
      p. 
        O Manual da Qualidade é o documento formal que define a política institucional para a qualidade e a forma como ela se efetiva e materializa através do Sistema de Garantia e Gestão da Qualidade. É um documento estruturante, construído com a participação de todos os stakeholders internos (Unidades Orgânicas, Unidades de Investigação, Serviços de Ação Social e os Serviços Centrais) e tem o estatuto de instrumento de gestão partilhado e reconhecido.
    .nobg.titulos
      p. 
        Sistema de Garantia e Gestão da Qualidade
    .bgtext.nobg
      p. 
        O Sistema de Garantia e Gestão da Qualidade é um grupo de processos que interagem e se complementam e foi desenvolvido aplicando a abordagem do ciclo de melhoria contínua. Define o conjunto de atividades interrelacionadas, identifica os recursos necessários à sua realização e estabelece as métricas para avaliar e monitorizar o seu desempenho e o cumprimento dos objetivos estabelecidos.
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")