block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Quality
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          img(src="../../assets/images/Quem somos/quality.png", alt="imagem", style="max-width: 200px")
          h4 Quality
    .nobg.titulos
      p. 
        Quality Policy
    .longtext.nobg
      p. 
        IPB's quality policy is based on sharing the mission, vision and values, as defined in the Statutes, and the commitment to the guidelines defined in the strategic plan, aiming to guarantee the quality and continuous improvement of all activities carried out well such as the promotion of good practices.
        - Guarantee the quality of teaching/learning, research, internationalization, interaction with society and the defense of identity, in accordance with legal precepts, internal norms and external, national and international, applicable standards;
        - Define processes and procedures that allow the systematic and routine monitoring and evaluation of the activities carried out and that indicate the degree of responsibility of the intervening parties;
        - Creation of a structure responsible for quality assurance and management, at an institutional level to ensure cohesion, coherence, harmony and comparability;
        - Ensuring forms of involvement and active participation of the entire academic community and other interested parties in processes of analysis, reflection and debate on the performance achieved;
        - Listen to the needs and expectations of all interested parties and collect contributions leading to improvement and/or quality assurance;
        - Organize an internal quality assurance and management system, which follows an integrated and holistic approach, applying national and European quality assurance references, and which is also representative of the institutional culture of transparency and accountability;
        - Implement an adequate, simple, non-bureaucratic and effective quality assurance and management system;
        - Promoting a model of organization, operation, management and governance of the institution centered on efficiency, quality, transparency and responsibility;
        - Ensure the dissemination, among the IPB community, of information on the implementation, monitoring and review of the institutional policy for quality and its practical application.
    .nobg.titulos
      p. 
        Quality Manual
    .bgtext.nobg
      p. 
        The Quality Manual is the formal document that defines the institutional policy for quality and how it is implemented and materialized through the Quality Assurance and Management System. It is a structuring document, built with the participation of all internal stakeholders (Organic Units, Research Units, Social Action Services and Central Services) and has the status of a shared and recognized management instrument.
    .nobg.titulos
      p. 
        Quality Assurance and Management System
    .bgtext.nobg
      p. 
        The Quality Assurance and Management System is a group of processes that interact and complement each other and was developed by applying the continuous improvement cycle approach. It defines the set of interrelated activities, identifies the resources needed to carry them out and establishes the metrics to assess and monitor their performance and compliance with the established objectives.
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")