block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Schools
                .main-button-gradient
                  .scroll-to-section.hidden
                    a(href="#") Candidate
    .botoes2
      .row
        .icon.col-12 
          img(src="../../assets/images/Quem somos/schools.png", alt="imagem", style="max-width: 200px")
          h4 Schools
    .row
      h4.titulos Mirandela
      .col-12
        a(href="esact.html").nobg.schoollink
          img(src="../../assets/images/IPB-ESACT-01-cor.png", alt="imagem", class="imagecenter")
    .row
      h4.titulos Bragança
      .col-6
        .nobg
          img(src="../../assets/images/IPB-ESE-01-cor.png", alt="imagem", class="imagecenter")
      .col-6
        .nobg
          img(src="../../assets/images/IPB-ESSa-01-cor.png", alt="imagem", class="imagecenter")
    .row
      .col-6
        .nobg
        img(src="../../assets/images/IPB-ESTG-01-cor.png", alt="imagem", class="imagecenter")
      .col-6
        .nobg
          img(src="../../assets/images/IPB-ESA-01-cor.png", alt="imagem", class="imagecenter")
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")