block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Schools
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-school
            h4 Schools
    .nobg.titulos
      p. 
        Bragança
    .row
      img(src="../../assets/images/braganca.jpg", alt="imagem", class="imagecenter")
    .nobg.titulos
      p. 
        Mirandela
    .row
      img(src="../../assets/images/mirandela.jpg", alt="imagem", class="imagecenter")
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")