block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Study at IPB
    .bgtext
      p IPB offers all its students, as well as foreign students in mobility, a unique opportunity to study in a creative and innovative institution and to enjoy a truly unique academic, cultural and landscape setting..
    .botoes2
      .row
        a(href="courses.html").icon.col-6 
          i.fas.fa-university 
            h4 Courses
        a(href="candidates.html").icon.col-6 
          i.fas.fa-university 
            h4 Candidates
    .bgtext
      p IPB's training offer consists of more than a hundred courses and study cycles, including undergraduate, postgraduate, post-graduate and master's study cycles, as well as technological specialization courses. This reality proves the success with which the Bologna Process was implemented and the adoption of the European Credit Transfer and Accumulation System (ECTS).
    .botoes2
      .row
        a(href="courses.html").icon.col-6 
          i.fas.fa-university 
            h4 Visit the IPB
        a(href="candidates.html").icon.col-6 
          i.fas.fa-university 
            h4 Current Students
    .bgtext
      p The IPB has modern and well-equipped facilities, in particular laboratory facilities, workshops, resource centers and libraries, providing invaluable support for the quality of teaching and its practical and experimental nature. IPB has a wireless communication system (wireless network) that covers all its facilities. Students also have at their disposal online scientific and documental information resources and a modern e-learning platform.
    .botoes2
      .row
        a(href="courses.html").icon.col-6 
          i.fas.fa-university 
            h4 International Mobility
        a(href="candidates.html").icon.col-6 
          i.fas.fa-university 
            h4 Former Students
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")