block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    section.main-banner#top
      .container  
        .row
          .col-lg-6.align-self-center
            .header-text 
              h2 Visit the IPB
    .botoes2
      .row
        .icon.col-12 
          i.fas.fa-map-marked-alt
            h4 Visit the IPB
    .bgtext.nobg
      p. 
        The Polytechnic Institute of Bragança has an internationalization program of recognized success, involving the annual mobility of more than 500 students and 100 teachers, the result of collaboration with several European higher education institutions (Erasmus program) and Portuguese-speaking countries. Studying at IPB represents an opportunity for an international mobility experience; an added value for the training and employability of our students and graduates.
        The International Relations Office (GRI) page is the main vehicle for communicating with students and faculty at IPB and its partner institutions.
    .row
      h4.visittitle < Masterclasses >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Semana da Ciência e Tecnologias >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Fascination of Plants Day >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Open Day >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Open Week >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < TecPro IPB summer >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Living Science in the Laboratory >
    .row
      img.visitimg(src="", alt="imagem")
    .row
      h4.visittitle < Aqua Summer School >
    .row
      img.visitimg(src="", alt="imagem")
    include ../organisms/footer

    script(src="../../assets/vendor/jquery/jquery.min.js")
    script(src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/custom.js")