nav.main-nav    
    a(href="home.html").logo
        img(src="../../assets/images/logo.png", alt="logo")
    ul.nav
        li.has-sub
            a(href="aboutus.html") Who we are
            ul.sub-menu
                li
                    a(href="ipb.html") IPB
                li
                    a(href="schools.html") Schools
                li
                    a(href="quality.html") Quality
                li
                    a(href="data.html") Data Protection
        li.has-sub
            a(href="study.html") Study at IPB
            ul.sub-menu
                li
                    a(href="courses.html") Courses
                li
                    a(href="candidates.html") Candidates
                li
                    a(href="visit.html") Visit IPB
                li
                    a(href="current.html") Current Students
                li
                    a(href="mobility.html") International Mobility
                li
                    a(href="former.html") Former Students
        li.scroll-to-section
            a.i.fas.fa-search    
    a.menu-trigger
        span Menu