nav.main-nav    
    a(href="home.html").logo
        img(src="../../assets/images/logo.png", alt="logo")
    ul.nav
        li
            a(href="home.html#courses") Who we are
        li.has-sub
            a(href="study.html") Study at IPB
            ul.sub-menu
                li
                    a(href="courses.html") Courses
                li
                    a(href="candidates.html") Candidates
                li
                    a(href="visit.html") Visit IPB
                li
                    a(href="current.html") Current Students
                li
                    a(href="mobility.html") International Mobility
                li
                    a(href="former.html") Former Students
        li.scroll-to-section
            a.i.fas.fa-search    
    a.menu-trigger
        span Menu