nav.main-nav    
    a(href="home.html").logo
        img(src="../../assets/images/logo.png", alt="logo")
    ul.nav
        li.has-sub
            a(href="#") Who we are
            ul.sub-menu
                li
                    a(href="#") IPB
                li
                    a(href="#") Schools
                li
                    a(href="#") Central Services
                li
                    a(href="#") Quality
                li
                    a(href="#") Data Protection
        li.scroll-to-section
            a(href="#") Study at IPB
        li.scroll-to-section
            a.i.fas.fa-search  Searchbar    
    a.menu-trigger
        span Menu