@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: pink;
  color: #fff;
}

::-moz-selection {
  background: pink;
  color: #fff;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.main-button-gradient {
  margin-bottom: 40px;
}

.main-button-gradient a {
  font-size: 20px;
  color: #fff;
  background: #72184D;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button-gradient a:hover {
  background: #dc8cdb;
  opacity: 0.9;
}

.white-button a {
  font-size: 13px;
  color: #dc8cdb;
  background-color: #fff;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}

.white-button a:hover {
  opacity: 0.9;
}

.text-button a {
  font-size: 14px;
  font-weight: 500;
  color: #dc8cdb;
  text-decoration: underline !important;
  transition: all .3s;
}

.text-button a:hover {
  opacity: 0.75;
}

section {
  margin-top: 40px;
}

section.news {
  margin-top: 0;
}

#contact-section {
  padding-top: 20px;
}

.mapa iframe {
  border-radius: 15px;
}

#contact-form{
  margin: 35px;
}

.contact-form-field{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #72184D;
  border-radius: 14px;
  outline: none;
}

.textarea-field{
  height: 150px;
  padding-top: 10px;
}

.contact-form-btn{
  width: 150px;
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #72184D;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.contact-form-btn:hover{
  background-color: #dc8cdb;
}

.section-heading {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h6 {
  margin-top: 30px;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.section-heading h4 {
  margin-top: 10px;
  line-height: 40px;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  color: #72184D;
}

.section-heading h4 em {
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  color: #fff;
}

.section-heading p {
  margin-top: 30px;
}

.newsgaming {
  position: relative;
  z-index: 5;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.background-header {
  background: #72184D !important;
  height: 80px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.header-area {
  background: #72184D;
  position: absolute;
  height: 110px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  max-width: 300px;
  line-height: 100px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
  line-height: 75px;
}

.background-header .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 35px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 30px;
  padding-right: 0px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #02acf0!important;
  opacity: 0.75;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #02acf0!important;
  opacity: 1;
}

.bgtext{
  width: 100%;
  height: auto;
  background-color: #72184D;
}

.longtext{
  width: 100%;
  height: auto;
}

.longtext p{
  padding-left: 40px;
  padding-right: 40px
}

.bgtext p{
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2vw;
  color: #fff;
}

.nobg{
  background: none;
}

.imagecenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-bottom: 80px;
}

.nobg p{
  text-align: center;
  color: #111;
  font-size: 1.5vw;
}

.titulos{
  margin-top: 30px;
  width: 100%;
  height: auto;
  text-align: center;
}

.titulos2{
  width: 100%;
}

.titulos p{
  font-size: 2vw;
  padding: 25px;
  font-weight: bold;
}

.hidden a{
  font-size: 0px;
  padding: 0;
  background: none;
}

.schoolframe iframe{
  border-radius: 20px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 60%;
}

a.linkzam{
  margin-top: 35px;
  color: #72184D;
  text-align: center;
  font-size: 1.5vw;
}

.schoollink img:hover{
  border-radius: 24px;
  background-color: #02acf0;
  transition: all 0.3s ease 0s;
}

.botoes2 a{
  text-decoration: none;
  color: #72184D;
  transition: all 0.3s ease 0s;
}

.botoes2 a:hover{
  text-decoration: none;
  color: #02acf0;
}

.studytext{
  padding: 30px 0;
}

.botoes2 .icon{
  margin-top: 30px;
  font-size: 200px;
  text-align: center;
  margin-bottom: -25px;
}

.botoes2 .icon h4{
  padding-top: 25px;
  color: #111;
  font-family: 'Montserrat';
}

.bgtext img{
  padding: 0;
  background-image: url(https://estudeemportugal.org/wp-content/uploads/2020/06/15-motivos-para-estudar-no-IPB.jpg);
}

.bgtext .sidetext{
  color: #fff;
  padding: 50px;
}

.bgtext .sidetext h4{
  font-size: 1.5vw;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 25px;
}

.bgtext .sidetext h6{
  font-size: 1.2vw;
}

.aboutus{
  margin-top: 30px;
  font-size: 150px;
  text-align: center;
  font-weight: bold;
  margin-bottom: -25px;
  color: #72184D;
  transition: all 0.3s ease 0s;
  padding: 0;
}

.aboutus:hover{
  text-decoration: none;
  color: #02acf0;
}

.aboutus h4{
  font-weight: bold;
  color: #111;
  font-family: 'Montserrat';
  margin-top: 25px;
}

.visittitle{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.visitimg{
  margin-left: 25%;
  width: 50%;
  height: 200px;
  background-image: url(https://nypost.com/wp-content/uploads/sites/2/2021/05/ms-13-gang-border-02.jpg?quality=75&strip=all);
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .nav li.has-sub:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #fff;
  position: absolute;
  right: 0px;
  top: 12px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  border-radius: 5px;
  opacity: 0;
  transition: all .3s;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a!important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.has-sub ul li a:hover {
  background: #fff;
  color: #02acf0!important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.has-sub ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #fff;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #fff;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #fff;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #fff;
}

.header-area.header-sticky {
  min-height: 80px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #dc8cdb;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 7px;
    padding-right: 7px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #02acf0!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #02acf0!important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}


/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

section.main-banner {
  margin-top: 100px;
  background-image: url('../../assets/images/hero-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 100px;
}

.main-banner .header-text h6 {
  position: relative;
  z-index: 2;
  font-size: 17px;

  margin-bottom: 30px;
  font-weight: 500;
  color: #fff;;
}

.main-banner .header-text h2 {
  position: relative;
  z-index: 2;
  font-size: 64px;
  color: #fff;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 50px;
  margin-top: 110px;
}

.main-banner .header-text h2 em {
  font-style: normal;
  font-weight: 800;
  color: #72184D;
}

.main-banner .main-button-gradient {
  position: relative;
  z-index: 2;
}


/*
---------------------------------------------
services
---------------------------------------------
*/ 
.services {
  background-color: white;
}

.services .item {
  border-radius: 15px;
  text-align: center;
  padding: 50px 30px;
  margin: 15px;
  background-color: #72184D;
  transition: all .3s;
}

.services .item:hover {
  background: #02acf0;
}

.services .item .icon {
  min-width: 75px;
  margin: 0 auto;
  min-height: 80px;
  line-height: 80px;
  vertical-align: middle;
  color: white;
  font-size: 60px;
}

.services .item h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.services .item p {
  color: #999;
}


/*
---------------------------------------------
News
---------------------------------------------
*/ 
.news {
  background-color: #72184D;
}

.news .item {
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  padding: 50px 30px;
  margin: 15px;
  background-color: #72184D;
  transition: all .3s;
}

.news .item:hover {
  background-color:#02acf0;
}

.news .item .icon {
  max-width: 75px;
  margin: 0 auto;
  min-height: 80px;
  line-height: 80px;
  vertical-align: middle;
}

.news .item h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}

.news .item h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
}

.news .item p {
  font-size: 15px;
  color: #fff;
}

.news .owl-dots {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.news .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0px 4px;
}

.news .owl-dots .active {
  background-color: #dc8cdb;
}


/*
---------------------------------------------
Students
---------------------------------------------
*/ 
.students {
  background-color: #fff;
}

.students .item {
  border-radius: 15px;
  text-align: center;
  padding: 50px 30px;
  margin: 15px;
  background-color: #72184D;
  transition: all .3s;
}

.students .item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.students-grid {
  text-align: center;
}

.students-grid p {
  font-size: 24px;
  font-weight: 500;
}

p.students-number{
  font-size: 35px;
  color: #72184D;
  margin-bottom: 20px; 
}

section.our-courses .section-heading h4 {
  color: #111;
}

section.location .section-heading h4 {
  color: #111;
}

.courses-grid {
  text-align: center;
  position: relative;
  height: 40vh;
}

.courses-grid .col-3{
  margin-right: 200px;
}

.courses-grid .col-3:first-child{
  margin-left: -100px;
}

.courses-grid .container {
  position:absolute;
  left: 25%;
}

.courses-grid i {
  font-size: 100px;
  margin-bottom: 20px;
  color:#72184D;
}

.courses-grid h4 {
  margin-bottom: 20px;
  font-weight: bold;
}

.courses-grid p {
  font-size: 16px;
  margin-bottom: 40px;
}

/* 
---------------------------------------------
contact us
--------------------------------------------- 
*/

section.contact-us {
  background-color: #72184D;
  padding-top: 0px;
  position: relative;
}

section.contact-us .row{
  padding: 25px;
}

section.contact-us h4{
  color: #fff;
}

section.contact-us p{
  margin-top: 10px;
  color: #fff;
}

section.contact-us ul{
  margin-top: 10px;
}

section.contact-us ul li{
  margin-top: 5px;
}

section.contact-us ul li a{
  color: #fff;
}

section.contact-us ul.social-icons li {
  display: inline-block;
  margin: 0px 5px;
}

section.contact-us ul.social-icons {
  text-align: center;
  margin-top: 20px;
}

section.contact-us ul.social-icons li a {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #fff;
  color: #72184D;
  border-radius: 50%;
  transition: all .5s;
}

section.contact-us ul.social-icons li a:hover {
  background-color: #02acf0;
  color: #fff;
}

p.copyright {
  text-align: center;
  color: #fff;
  margin: 40px 0px;
}

p.copyright a {
  font-weight: 700;
  color: #fff;
}

/*
---------------------------------------------
contact us page
---------------------------------------------
*/

section.more-info .section-heading {
  margin-bottom: 40px;
  text-align: left;
}

section.more-info p {
  margin-bottom: 40px;
}

section.more-info ul li {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  font-style: italic;
  margin-bottom: 20px;
}

section.more-info ul li:last-child {
  margin-bottom: 0px;
}

section.more-info .count-area-content {
  margin-bottom: 20px;
  margin-top: 20px;
}

section.more-info .count-area-content .count-digit {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-40px);
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  color: #dc8cdb;
  font-weight: 900;
  margin-bottom: -40px;
  position: relative;
  z-index: 2;
}

section.more-info .count-area-content .count-title {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: #111;
  padding: 50px 30px 30px 30px;
  position: relative;
  z-index: 1;
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/


body {
  overflow-x: hidden;
}

@media (max-width: 1330px) {
  .courses-grid {
    height: 120vh;
  }
  .mapa iframe{
    width: 600px;
    height: 400px;
  }
  .contact-form{
    margin-left: -40px;
  }
}

@media (max-width: 1200px) {
  .main-banner .right-image {
    margin-left: 60px;
  }
  .main-banner .header-text h2 {
    font-size: 62px;
  }
  .header-area {
    background: #72184D !important;
  }
  .nav li a{
    font-size: 13px !important;
  }
  .courses-grid {
    height: 50vh;
  }
  .courses-grid .container {
    left: 25%;
  }
  .mapa iframe{
    width: 700px;
    height: 400px;
  }
  .contact-form{
    margin-left: 40px;
    width: 50%;
  }
  .separator{
    margin-right: 20px;
  }
}

@media (max-width: 992px) {

  .main-banner .header-text {
    text-align: center;
    margin-bottom: 60px;
  }
  .nav li a{
    font-size: 10px !important;
  }
  .logo {
    width: 400px;
  }
  .courses-grid {
    height: 70vh;
  }
  .mapa iframe{
    width: 600px;
    height: 200px;
  }
  .contact-form{
    margin-left: 40px;
    width: 50%;
  }
  .separator{
    margin-right: 50px;
  }
  .social-icons li a{
    float: right;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 16px;
  }
  .imagecenter{
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    display: none;
  }
  .courses-grid {
    height: 85vh;
  }
  .courses-grid .container {
    left: 25%;
  }
  .courses-grid .col-3{
    margin-right: 50px;
  }
  .courses-grid .col-3:first-child{
    margin-left: -25px;
  }
  .students-number{
    margin-top: 25px;
  }
  .logo {
    margin-top: -5px;
    width: 300px;
  }
  .header-text h2{
    font-size: 50px !important;
  }
  .header-text h6{
    padding: 0 50px;
  }
  .location{
    margin-top: 10px;
  }
  .mapa iframe{
    width: 400px;
    height: 200px;
  }
  .contact-form{
    margin-left: -40px;
    width: 50%;
  }
  .separator{
    margin-top: 20px;
  }
  .contact-us h4,p{
    font-size: 10px;
  }
  .social-icons li a{
    float: none !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
    font-size: 12px;
  }
  .bgtext p{
    align-items: center;
    font-size: 12px !important;
  }
  .linkzam{
    font-size: 20px !important;
  }
  .botoes2{
    margin-top: 0;
    margin-bottom: 10px;
  }
  .botoes2 .icon{
    margin-bottom: 0;
  }
  .botoes2 img{
    width: 50px;
  }
  .botoes2 a{
    font-size: 50px !important;
  }
  .aboutus{
    font-size: 50px !important;
  }
  .titulos p{
    font-size: 24px !important;
  }
  .imagecenter{
    width: 100%;
  }
}