block variables
doctype html
html(lang="pt")
  head
    include ../organisms/head
  body
    include ../organisms/header
    include ../organisms/main_banner
    include ../organisms/servicos
    include ../organisms/news
    include ../organisms/students
    include ../organisms/whychoose
    include ../organisms/footer

    script(src="../../vendor/jquery/jquery.min.js")
    script(src="../../vendor/bootstrap/js/bootstrap.bundle.min.js")

    script(src="../../assets/js/isotope.min.js")
    script(src="../../assets/js/owl-carousel.js")
    script(src="../../assets/js/lightbox.js")
    script(src="../../assets/js/tabs.js")
    script(src="../../assets/js/video.js")
    script(src="../../assets/js/slick-slider.js")
    script(src="../../assets/js/custom.js")