section.contact-us#contact-section
    .container
        .row 
            .col-3
                img(src="../../assets/images/logo.png", alt="Logo", style="max-width: 300px")
                ul.social-icons   
                    li 
                        a(href="")
                            i.fa.fa-facebook
                    li 
                        a(href="")
                            i.fa.fa-instagram
                    li 
                        a(href="")
                            i.fa.fa-twitter
            .col-3
                h4 Adress
                p Campus de Santa Apolónia 
                p 5300-253 BRAGANÇA
            .col-3
                h4 Contacts
                p Email: geral@ipb.pt
                p Phone: 273 303 200
                p Fax: 273 325 405
            .col-3
                ul
                    li
                        a(href="aboutus.html") Who we are
                    li
                        a(href="study.html") Study at IPB