section.location#location 
    .container 
        .row 
            .col-lg-6.offset-lg-3 
                .section-heading.blackversion
                    h4 Contact Us
            .location-grid 
                .container 
                    .row 
                        .mapa.col-8
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1487.2186880003378!2d-6.769026684759617!3d41.79733749505927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3a4a1efb0287fd%3A0x6159f17a3eda623f!2sInstituto%20Polit%C3%A9cnico%20de%20Bragan%C3%A7a%20-%20Escola%20Superior%20Agr%C3%A1ria!5e0!3m2!1spt-PT!2spt!4v1675961124787!5m2!1spt-PT!2spt', width='780', height='450', style='border:0', allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")
                        .contact-form.col-4
                            form(id="contact-form")
                                input(type="text", name="Name", class="contact-form-field", placeholder="Nome")
                                input(type="text", name="Email", class="contact-form-field", placeholder="E-mail")
                                textarea(type="text", name="Message", class="contact-form-field textarea-field", style="resize: none", placeholder="Mensagem...")
                                button(type="button" class="contact-form-btn") Submit