section.main-banner#top
    .container  
        .row
            .col-lg-6.align-self-center
                .header-text 
                    h2 
                        em IPB 
                        a - Instituto Politécnico de Bragança
                    h6 IPB is a public institution of higher education whose mission is to create, transmit and disseminate technical and scientific knowledge.
                    .main-button-gradient 
                        .scroll-to-section
                            a(href="") Candidate 