section.news#news 
    .container 
        .row 
            .col-lg-12 
                .section-heading 
                    h6 News 
                    h4 
                        em Highlighted 
            .col-lg-12 
                .owl-testimonials.owl-carousel.newsgaming
                    .item 
                        a(href="#")
                            img(src="../../assets/images/quote.png", alt="teste")
                        h4 Catherine Walk 
                        h6 date: aaaa 
                        p reiaafnfwajkfnwawakffwaf
                    .item 
                        a(href="#")
                            img(src="../../assets/images/quote.png", alt="teste")
                        h4 Catherine Walk 
                        h6 date: aaaa 
                        p reiaafnfwajkfnwawakffwaf
                    .item 
                        a(href="#")
                            img(src="../../assets/images/quote.png", alt="teste")
                        h4 Catherine Walk 
                        h6 date: aaaa 
                        p reiaafnfwajkfnwawakffwaf
                    .item 
                        a(href="#")
                            img(src="../../assets/images/quote.png", alt="teste")
                        h4 Catherine Walk 
                        h6 date: aaaa 
                        p reiaafnfwajkfnwawakffwaf
                    .item 
                        a(href="#")
                            img(src="../../assets/images/quote.png", alt="teste")
                        h4 Catherine Walk 
                        h6 date: aaaa 
                        p reiaafnfwajkfnwawakffwaf