section.services#services 
    .container 
        .row 
            .col-lg-12 
            .col-12.col-md-3 
                a(href="", target="_blank")
                    .item 
                        .service-item 
                            .icon 
                                i.fas.fa-university 
                            h4 IPB Online
            .col-12.col-md-3 
                a(href="", target="_blank")
                    .item 
                        .service-item 
                            .icon 
                                i.fa.fa-graduation-cap 
                            h4 IPB Virtual 
            .col-12.col-md-3 
                a(href="", target="_blank")
                    .item 
                        .service-item 
                            .icon 
                                i.fas.fa-file-alt 
                            h4 IPB Summary 
            .col-12.col-md-3 
                a(href="", target="_blank")
                    .item 
                        .service-item 
                            .icon 
                                i.fa-sharp.fa.fa-envelope 
                            h4 IPB Webmail