section.students#students 
    .container 
        .row
            .col-lg-12 
                .section-heading 
                    h4 Students 2022/2023
            .students-grid 
                .container
                    .row 
                        .col-lg-3 
                            p.students-number.counter 3572
                            p ESACT
                        .col-lg-3 
                            p.students-number.counter 1121
                            p ESA
                        .col-lg-3 
                            p.students-number.counter 2351
                            p ESE
                        .col-lg-3 
                            p.students-number.counter 1835
                            p ESTIG