section.students#students 
    .container 
        .row
            .col-lg-12 
                .section-heading 
                    h4 Students 2022/2023
            .students-grid 
                .container 
                    .row 
                        .col-lg-3 
                            p.students-number 00
                            p ESACT
                        .col-lg-3 
                            p.students-number 00
                            p ESA
                        .col-lg-3 
                            p.students-number 00
                            p ESE
                        .col-lg-3 
                            p.students-number 00
                            p ESTIG