section.students#students 
    .container 
        .row
            .col-lg-12 
                .section-heading 
                    h4 Students 2022/2023
            .students-grid 
                .container 
                    .row 
                        .col-lg-3 
                            p amogus
                        .col-lg-3 
                            p amogus
                        .col-lg-3 
                            p amogus
                        .col-lg-3 
                            p amogus