section.our-courses#courses 
    .container 
        .row 
            .col-lg-6.offset-lg-3 
                .section-heading.blackversion
                    h4 Why choose IPB 
            .courses-grid 
                .container 
                    .row 
                        .col-3
                            i.fas.fa-users
                            h4 Who we are?
                            p Pursuant to paragraph 1 of article 13 of the Regulations for the Election of the President of the IPB,approved on December 6, 2021 by the General.
                        .col-3
                            i.fas.fa-book-reader
                            h4 Study at IPB?
                            p Within the scope of the Mountain Alliance for Knowledge and Co-Creation, IPB offers a set of innovative scholarships that aim to encourage students.
