section.our-couses#courses 
    .container 
        .row 
            .col-lg-6.offset-lg-3 
                .section-heading 
                    h4 Why choose IPB 
            .courses-grid 
                .container 
                    .row 
                        .col-md-3 
                            p sussy
                        .col-md-3 
                            p sussy
                    .row 
                        .col-md-3 
                            p sussy
                        .col-md-3 
                            p sussy